.container{
    
    display: grid;
    grid-gap:25px;
    grid-template-columns: 1fr 1fr;
}

.profile{
    margin: 10px;
    
}

.profile img{
   width: 550px;
   height: 80%;
}

.desc{
    width: 90%;
    margin: 20px;

}

.desc p{
    color:#000 !important;

}

.socials{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.socials li{
    list-style: none;
    margin: 15px;
    font-size: 30px;
}

.socials li i{
    padding: 10px 10px;
    background: maroon;
    color: #fff;
    border-radius: 4px;
}

.socials li i:hover{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.fanakalogo h2{
    display: none;
}

@media(max-width: 950px){
    .container{
        display: block;
        grid-template-columns: 1fr;
        display: grid;
        
    }
    .profile{
       margin: 20px;
       justify-content: center;
       margin-left: 50px;
    }

    .profile img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
     }

     .socials li i{
        padding: 5px 5px;
        background: #510400;
        color: #fff;
        border-radius: 4px;
    }
    .desc{
        width: auto;
        margin:5px;
        flex-wrap: wrap;
    
    }
    .socials li{
        list-style: none;
        margin: 15px;
        font-size: 20px;
    }

    .fanakalogo img{
        width: 350px;
        height: 350px;
    }

    .fanakalogo h2{
        display: block;
        font-style: italic;
        margin-left: 80px;
    }

}

